# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (large files)
#data/WA_Fn-UseC_-Telco-Customer-Churn.csv

# Model artifacts
results/churn_pipeline.pkl

# OS
.DS_Store